spring:
  application:
    name: hsq-ai-agent
  profiles:
    active: local
  ai:
    mcp:
      client:
        sse:
          connections:
            server1:
              url: http://localhost:8127
        #stdio:
          #servers-configuration: classpath:mcp-servers.json
server:
  port: 8123
  servlet:
    #所有请求后端的接口都需要在请求路径上加上/api，有利于与前端请求接口区分开
    context-path: /api


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.jyu.hsqaiagent.controller

knife4j:
  enable: true
  setting:
    language: zh_cn